*.apk
*.DS_Store
.env
/venv
/InstagramAds
/FacebookAds
/RedditAds
/TikTokAds
/TwitterAds
/PinterestAds
/SnapchatAds
**/ads/*
**/*/.env
.vscode/
/log
/DeviceHistory
/__pycache__
/Sessions
activeSessions.txt
completedSessions.txt
inQueue.txt
devices.xlsx